{{#each this}}
<li class="phonebook-item" >
    <ul class="phonebook-list-contact" >
        <li class="phonebook__list-item">{{name}}</li>
        <li class="phonebook__list-item">{{number}}   
    </ul>
    <div class="phonebook-btn-delete-wrapper"><button type="button" data-id="{{id}}" class="phonebook__list-item-btn-delete">Удалить</button></div>
</li>
{{/each}}